@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Regular.woff2') format('woff2'),
        url('Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Black.woff2') format('woff2'),
        url('Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-ExtraLight.woff2') format('woff2'),
        url('Heebo-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Thin.woff2') format('woff2'),
        url('Heebo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Bold.woff2') format('woff2'),
        url('Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Medium.woff2') format('woff2'),
        url('Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-ExtraBold.woff2') format('woff2'),
        url('Heebo-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Light.woff2') format('woff2'),
        url('Heebo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-SemiBold.woff2') format('woff2'),
        url('Heebo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

