@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

@layer base {
  html {
    @apply overflow-x-hidden scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-vollkorn;
  }

  body {
    @apply bg-midnight font-lato text-white;
  }
}

.with-prose {
  @apply prose
    prose-xl
    prose-invert
    prose-headings:font-vollkorn
    prose-h3:font-normal
    prose-p:font-light
    prose-p:tracking-wider
    prose-p:opacity-100
    prose-a:text-daisy 
    prose-ul:font-light
    prose-ul:leading-relaxed
    prose-ul:tracking-wider
    prose-img:rounded-xl
    md:prose-2xl
    md:prose-img:rounded-2xl;
}

.with-bg-pattern {
  background-color: #06060b;
  background: radial-gradient(
      circle,
      transparent 20%,
      #06060b 20%,
      #06060b 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #06060b 20%,
        #06060b 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#fff 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #fff 2px, #06060b 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
