@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/fonts/bogart.css');
@import url('/fonts/heebo.css');

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Heebo, sans-serif, system-ui;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Bogart, serif, system-display !important;
  }
}

body {
  @apply overflow-x-hidden bg-black text-white;
}

.with-prose {
  @apply prose
    prose-lg
    prose-invert
    prose-headings:font-bogart
    prose-headings:font-medium
    prose-headings:opacity-95
    prose-h4:font-normal
    prose-p:text-xl
    prose-p:leading-relaxed
    prose-p:opacity-90
    prose-a:text-daisy
    prose-li:opacity-90
    prose-img:rounded-xl
    md:prose-xl;
}
